.link-pic img{
    width: 100px;
    height: 141.4px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .pers-info{
      font-size: 14pt;
  }
  
  .preview-home-akt{
    background-color: rgb(43, 49, 51);
    display: grid;
    grid-template-columns: 110px 1fr;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
    width: clamp(200px, 90%, 900px);
    gap: 20px;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
  }
  .preview-home-akt:hover{
    background-color: rgb(51, 57, 59);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.24);
  }
  .preview-home-akt div h3{
    margin-top: 0;
    font-size: 18pt;
    margin-bottom: 5px;
  }
  .preview-home-akt div .date{
    font-size: 16pt;
    padding-bottom: 0;
  }
  .preview-home-akt div p{
    padding-top: 9px;
    border-top: 1px solid rgb(83, 88, 90);
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 7px;
    font-size: 8pt;
  }
  
  @media (max-aspect-ratio: 4/3) or (max-height: 520px){
    .body{
      padding-left: 10px;
    }
  }
  @media (max-aspect-ratio: 4/3) or (max-height: 520px){
    .body{
      padding-top: 85px;
    }
  }