.pers-info{
  font-size: 14pt;
}
.warning{
  padding: 10px 20px;
  border: 2px solid rgb(150, 14, 14);
  border-radius: 10px;
  display: inline-block;
  background-color: rgb(43, 49, 51);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}
.body{
  color: white;
  background-color: rgb(34, 39, 41);
  padding: 10px;
  padding-left: 170px;
  padding-top: 10px;
  padding-right: 20px;
  padding-top: 0;
  font-family: Roboto, Arial;
}

@media (max-aspect-ratio: 4/3) {
  .body{
    padding-left: 10px;
  }
}
@media (max-aspect-ratio: 4/3) {
  .body{
    padding-top: 85px;
  }
}